:root {
    background: url(images/grunge4.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

body {
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 1px 0 10px;
    letter-spacing: .1rem;
}

@media (min-width: 1025px) {
.topnav {
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #805404 25%, yellow);
    box-shadow: 0 0 10px rgb(75, 74, 74);
    }
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 18px;
    font-size: 20px;
}

.topnav a:hover {
    background-color: rgb(219, 145, 47);
}

h1 {
    color: black;
    font-size: 46px;
}

.row {
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 380px) {
    .topnav {
        position: fixed;
        top: 0;
        right: 0;
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-image: linear-gradient(to right, #805404 25%, yellow);
        box-shadow: 0 0 10px rgb(75, 74, 74);
  }
}