html { 
    background: url(images/grunge4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
}
  
body {
      font-family: 'Luminari', fantasy, sans-serif;
      color: #0a3055;
      text-shadow: rgb(255, 255, 255) 1px 0 10px;
      letter-spacing: .08rem;
}
  
article {
      margin: .6%;
}

h1 {
    margin: auto;
    color: black;
    text-align: center;
    font-size: 46px;
}

div {
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}